<!doctype html>
<html>
<head>
    <title>Dragon Tech</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <div class="page-header text-center">
      <img src="/img/Dragon tech.png" alt="dragon tech logo">
        <h1>Patient Portal</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="container" >
      <div class="scheduleForm">
        <form id="floor-wing-form">
          <h4>Your Shift</h4>
          <select id="floor" name="floor" required>
            <option value="" disabled selected>Select Floor</option>
            <option value="1">1st Floor</option>
            <!-- <option value="2">2nd Floor</option>
            <option value="3">3rd Floor</option> -->
          </select>
    
          <select id="wing" name="wing" required>
            <option value="" disabled selected>Select Wing</option>
            <option value="left">Left Wing</option>
            <option value="right">Right Wing</option>
          </select>
    
          <button type="submit">View Patients</button>
        </form>
        <div id="patient-list">
          <ul id="patientsList"></ul>
        </div>
      </div>
    
      <div class="listOfPatients">
        <h4>Add a new patient</h4>
        <form action="/patients" method="POST" id="patient">
          <input type="text" placeholder="Patient Name" name="name" required>
          <input type="number" placeholder="Age" name="age" required>
          <input type="number" placeholder="Floor" name="floor" required>
          <input type="text" placeholder="Wing" name="wing" required>
          <input type="text" placeholder="Room Number" name="roomNumber" required>
          <button type="submit">Add</button>
        </form>
      </div>
    
    </div>
  </div>

<script src="main.js"></script>

</body>
</html>
